# Ignore environment folders
vnen/
venv/
.env/

# Ignore cache and temp files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore system or IDE files
.DS_Store
.ipynb_checkpoints/
.idea/
.vscode/
# ML training artifacts
catboost_info/
**/catboost_info/

# TensorBoard logs
*.tfevents

# Jupyter checkpoints
.ipynb_checkpoints/
# ML training artifacts
catboost_info/
**/catboost_info/

# TensorBoard logs
*.tfevents

# Jupyter checkpoints
.ipynb_checkpoints/
